body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f1f1f1;
}
div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
canvas {
  border: 2px solid black;
  cursor: pointer;
}
button {
  padding: 1rem;
  border-radius: 20%;
  cursor: pointer;
  color: white;
  background-color: blueviolet;
}
p {
  font-size: 2rem;
  font-weight: bold;
  color: blueviolet;
}
